docs/n8n-sub-registrar-atividade.json
{
  "name": "CRM - Registrar Atividade",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            { "name": "deal_id" },
            { "name": "type" },
            { "name": "description" }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 0],
      "id": "trigger-registrar-atividade",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sucessocrm.benitechlab.com/api/crm/deals/{{ $json.deal_id }}/activities",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"{{ $json.type || 'whatsapp' }}\",\n  \"description\": {{ JSON.stringify($json.description || '') }}\n}",
        "options": { "timeout": 10000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 0],
      "id": "http-registrar-atividade",
      "name": "Registrar Atividade",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "r1", "name": "sucesso", "value": true, "type": "boolean" },
            { "id": "r2", "name": "mensagem", "value": "Atividade registrada", "type": "string" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [480, 0],
      "id": "return-registrar-atividade",
      "name": "Retorno"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": { "main": [[{ "node": "Registrar Atividade", "type": "main", "index": 0 }]] },
    "Registrar Atividade": { "main": [[{ "node": "Retorno", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "meta": { "templateCredsSetupCompleted": true }
}
