docs/n8n-sub-buscar-deal.json
{
  "name": "CRM - Buscar Deal",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            { "name": "deal_id" }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 0],
      "id": "trigger-buscar-deal",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://sucessocrm.benitechlab.com/api/crm/deals/{{ $json.deal_id }}?organization_id=00000000-0000-0000-0000-000000000001",
        "options": { "timeout": 10000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 0],
      "id": "http-buscar-deal",
      "name": "Buscar Deal",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items.map(item => {\n  const d = item.json;\n  if (d.error || d.statusCode >= 400) {\n    return { json: { encontrado: false, mensagem: 'Deal não encontrado' } };\n  }\n  const deal = d.deal || d;\n  return {\n    json: {\n      encontrado: true,\n      deal_id: deal.id,\n      title: deal.title,\n      status: deal.status,\n      temperature: deal.temperature,\n      value: deal.value,\n      pipeline_name: deal.pipeline_name,\n      stage_name: deal.stage_name,\n      pipeline_stage_id: deal.pipeline_stage_id,\n      contact_name: deal.contact_name,\n      company_name: deal.company_name,\n      source: deal.source,\n      insights: (deal.insights || []).slice(0, 10),\n      activities: (deal.activities || []).slice(0, 10)\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 0],
      "id": "format-buscar-deal",
      "name": "Formatar Resposta"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": { "main": [[{ "node": "Buscar Deal", "type": "main", "index": 0 }]] },
    "Buscar Deal": { "main": [[{ "node": "Formatar Resposta", "type": "main", "index": 0 }]] }
  }
}
