docs/n8n-sub-salvar-insight.json
{
  "name": "CRM - Salvar Insight",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            { "name": "deal_id" },
            { "name": "category" },
            { "name": "content" },
            { "name": "confidence" },
            { "name": "raw_message" }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 0],
      "id": "trigger-salvar-insight",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sucessocrm.benitechlab.com/api/crm/deals/{{ $json.deal_id }}/insights",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"category\": \"{{ $json.category }}\",\n  \"content\": {{ JSON.stringify($json.content) }},\n  \"confidence\": {{ $json.confidence || 0.8 }},\n  \"source\": \"ai_agent\",\n  \"raw_message\": {{ JSON.stringify($json.raw_message || '') }}\n}",
        "options": { "timeout": 10000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 0],
      "id": "http-salvar-insight",
      "name": "Salvar Insight",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "r1", "name": "sucesso", "value": true, "type": "boolean" },
            { "id": "r2", "name": "mensagem", "value": "Insight salvo", "type": "string" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [480, 0],
      "id": "return-salvar-insight",
      "name": "Retorno"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": { "main": [[{ "node": "Salvar Insight", "type": "main", "index": 0 }]] },
    "Salvar Insight": { "main": [[{ "node": "Retorno", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "meta": { "templateCredsSetupCompleted": true }
}
