docs/n8n-sub-listar-funis.json
{
  "name": "CRM - Listar Funis",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": []
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 0],
      "id": "trigger-listar-funis",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://sucessocrm.benitechlab.com/api/crm/pipelines?organization_id=00000000-0000-0000-0000-000000000001",
        "options": { "timeout": 10000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 0],
      "id": "http-listar-funis",
      "name": "Listar Funis",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items.map(item => {\n  const pipelines = item.json.pipelines || item.json || [];\n  const list = Array.isArray(pipelines) ? pipelines : [];\n  return {\n    json: {\n      funis: list.map(p => ({ pipeline_id: p.id, nome: p.name, descricao: p.description, deals_count: p.deals_count || 0 }))\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 0],
      "id": "format-listar-funis",
      "name": "Formatar Resposta"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": { "main": [[{ "node": "Listar Funis", "type": "main", "index": 0 }]] },
    "Listar Funis": { "main": [[{ "node": "Formatar Resposta", "type": "main", "index": 0 }]] }
  }
}
