docs/n8n-sub-atualizar-contato.json
{
  "name": "CRM - Atualizar Contato",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            { "name": "contact_id" },
            { "name": "name" },
            { "name": "email" },
            { "name": "phone" },
            { "name": "role" },
            { "name": "company_id" }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 0],
      "id": "trigger-atualizar-contato",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items.map(item => {\n  const d = item.json;\n  const body = {};\n  if (d.name) body.name = d.name;\n  if (d.email) body.email = d.email;\n  if (d.phone) body.phone = d.phone;\n  if (d.role) body.role = d.role;\n  if (d.company_id) body.company_id = d.company_id;\n  return { json: { contact_id: d.contact_id, body: body } };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 0],
      "id": "build-body-contato",
      "name": "Montar Body"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://sucessocrm.benitechlab.com/api/crm/contacts/{{ $json.contact_id }}?organization_id=00000000-0000-0000-0000-000000000001",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": { "timeout": 10000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 0],
      "id": "http-atualizar-contato",
      "name": "Atualizar Contato",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "r1", "name": "sucesso", "value": true, "type": "boolean" },
            { "id": "r2", "name": "mensagem", "value": "Contato atualizado", "type": "string" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [720, 0],
      "id": "return-atualizar-contato",
      "name": "Retorno"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": { "main": [[{ "node": "Montar Body", "type": "main", "index": 0 }]] },
    "Montar Body": { "main": [[{ "node": "Atualizar Contato", "type": "main", "index": 0 }]] },
    "Atualizar Contato": { "main": [[{ "node": "Retorno", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "meta": { "templateCredsSetupCompleted": true }
}
